<!DOCTYPE html>
<html lang="zh-cmn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Baozier">
    <link rel="stylesheet" type="text/css" href="css/general.css" />
		<title></title>
    <script>
      var data = {
        cities: {
          '2-6': {'state': 0}
        }
      }
    </script>
  </head>
	<body>
		<div v-cloak id="app">
      <main class="full">
        <div v-for="yIndex in 12" style="display: block; width: 100%; height: 51pt">
          <!-- grids on the map -->
          <single-grid         
            v-for="xIndex in 20"
            v-bind:key="'singlelocation' + xIndex + yIndex"
						v-bind:cities="cities"
						v-bind:code="yIndex + '-' + xIndex"
          >
          </single-grid>
        </div>
      </main>
      <div id="map" class="full"></div>
		</div>
    <script type="text/javascript" src="vendor/vue.js"></script>
    <script type="text/javascript" src="predefine/general.js"></script>
    <script type="text/javascript" src="component/single-grid.js"></script>
    <script type="text/javascript" src="app.js"></script>
	</body>
</html>